@charset "UTF-8";

html,body {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	margin: 0;
	padding: 0;
}

#wrap {
	padding: 20px;
	min-width: 650px;
}

.m-list-form {

}
.m-list-form li {
	margin-top: 15px;
}
.m-list-form li:first-child {
	margin-top: 0;
}
.m-list-form li label {
	display: block;
	margin-bottom: 5px;
}
.m-list-form li input,
.m-list-form li textarea {
	width: 100%;
}
.m-list-form li button {
	display: inline-block;
	background: orange;
	color: #fff;
	margin-right: 5px;
	padding: 15px 20px;
	border: none;
	outline: none;
	box-sizing: border-box;
	text-align: left;
}

#table {
	width: 100%;
}
#table tr th {
	padding: 10px;
	border: 1px solid #eee;
}
#table tr td {
	padding: 10px;
	border: 1px solid #eee;
}